<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Zippy</title>

    <style>
        body {
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            padding-left: 10px;
            padding-right: 10px;
        }

        .page-header {
            margin-bottom: 15px;
        }

        .page-header > .page-title {
            font-size: 32px;
            font-weight: 300;
            padding-bottom: 5px;
            border-bottom: 1px skyblue solid;
        }
    </style>
</head>

<body>
    <div class="page-header">
        <p class="page-title">ZIPPY</p>
    </div>

    <div class="page-content">
        <p><strong>Howdy!</strong></p>
        <p>@DateTime.Now.ToString()</p>
    </div>
</body>

</html>